.btn {
    padding: 10px 20px;
    border: 1px #80ffdb solid;
    border-radius: 10px;
    color: #80ffdb;
    text-decoration: none;
    opacity: 0.7;
}

.btn:hover {
    opacity: 1;
    transition: 0.6s;
}